mixin input(attr)
  -
    const {type='text', placeholder='', cls, label='', val='', desc='', modify=''} = attr;
    const pattern = {
      email: '[^ @]*@[^ @]*',
      text: '',
      date: ''
    }
  label.field(class=`field--${modify}`)
    .field__wrap
      p(class='field__label')= label
      p(class='field__desc')= desc
    if (modify === 'substr')
      button.field__btn
    input(type=`${type}`, class=`field__input ${cls}-input`, value=`${val}`, placeholder=`${placeholder}`, pattern=`${pattern[type]}`)
