mixin rating(option)
  -
    const { len = 5, title = '', name = '', checked = 3 } = option;
    const result = len > 0 ? [...new Array(len).keys((_, i) => i)].reverse() : [];
    const setChecked = (val) => val === checked;

  .rating
    p.rating__title= title
    .rating__container
      .rating__wrap
        each val, key in result
          input.rating__field(type='radio' id=`rating-${val}-${name}` name=`rating-${name}` value=`${val}` checked=setChecked(val))
          label(for=`rating-${val}-${name}`)
      .rating__wrap
        each val, key in result
          input.rating__field(type='radio' id=`rating-${val}` name='rating' value=`${val}` checked= val === 4)
          label(for=`rating-${val}`)
