include ../like-button/like-button

mixin comment(option = {})
  -
    const { title = '', content = '', day = '', feedback = '', status = false, num = '1', modify = '' } = option;

  .comment(class=`${modify ? ` comment--${modify}` : ''}`)
    .comment__head
      .comment__img.img-comment
        img.img-comment__img(src=`./assets/img/feedback-${num}.png`, alt='person')
      .comment__desc
        .comment__title= title
        .comment__day= `${day} назад`
    .comment__main
      +like-button({ content, status, cls: 'comment' })
      .comment__feedback= feedback
