include ../../components/input/input

mixin footer(option = {})

  -
    const { type = 'desctop' } = option
    const navList = [
      {
        title: 'О нас',
        cls: 'about',
      },
      {
        title: 'Новости',
        cls: 'news',
      },
      {
        title: 'Служба поддержки',
        cls: 'support',
      },
      {
        title: 'Услуги',
        cls: 'service',
      },
    ]

    const aboutList = [
      {
        title: 'О сервисе',
        cls: 'about',
      },
      {
        title: 'Наша команда',
        cls: 'team',
      },
      {
        title: 'Вакансии',
        cls: 'vacancy',
      },
      {
        title: 'Инвесторы',
        cls: 'investor',
      },
    ]

    const supportList = [
      {
        title: 'Соглашения',
        cls: 'agreement',
      },
      {
        title: 'Сообщества',
        cls: 'community',
      },
      {
        title: 'Связь с нами',
        cls: 'contact',
      },
    ]

  .footer(class=`${type === 'tablet' ? ` footer--tablet` : ' footer--desctop'}`)
    if type === 'desctop'
      .footer__wrap.footer__wrap--top
        .footer__container
          .footer__desc
            .footer__logo
              img(src=`../../assets/img/full-logo.svg`, alt='logo')
            p.footer__text Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
          .footer__nav.nav-footer
            p.nav-footer__title Навигация
            ul.nav-footer__list
              each val, key in navList
                li.nav-footer__item(class=`${val.cls ? ` nav-footer__item--${val.cls}` : ''}`)= val.title
          .footer__about.about-footer
            p.about-footer__title О нас
            ul.about-footer__list
              each val, key in aboutList
                li.about-footer__item(class=`${val.cls ? ` about-footer__item--${val.cls}` : ''}`)= val.title
          .footer__support.support-footer
            p.support-footer__title Служба поддержки
            ul.support-footer__list
              each val, key in supportList
                li.support-footer__item(class=`${val.cls ? ` support-footer__item--${val.cls}` : ''}`)= val.title
          .footer__subscribe.subscribe-footer
            p.subscribe-footer__title Подписка
            p.subscribe-footer__subtitle Получайте специальные предложения и новости сервиса
            +input({ type: 'email', placeholder: 'Eamil', cls: 'subscr' })
    .footer__wrap
      .footer__container.footer__copyright.copyright-footer(class=`${type === 'tablet' ? ' copyright-footer--tablet' : '' }`)
        if type === 'tablet'
          .footer__logo.copyright-footer__logo
            img(src=`../../assets/img/full-logo.svg`, alt='logo')
        .copyright-footer__text(class=`${type === 'tablet' ? ' copyright-footer__text--tablet' : '' }`) Copyright © 2018 Toxin отель. Все права защищены.
        .copyright-footer__social
          .copyright-footer__link.copyright-footer__link--tw
          .copyright-footer__link.copyright-footer__link--fb
          .copyright-footer__link.copyright-footer__link--inst
