include ../../components/rating/rating
include ../../components/slider/slider

mixin room-card(option = {})
  -
    const {numb = '0', type = '', count = '0', rate = 4, price = '', link = '', id = '' } = option

  .room-card
    .room-card__gallery
      +slider({ id })
    a.room-card__desc(href=link)
      .room-card__wrap
        p.room-card__title
          span.room-card__title--small №
          |
          span.room-card__title--thick= numb
          |
          if type !== ''
            span.room-card__title--color= type
        p.room-card__subtitle
          span.room-card__subtitle--thick= `${price}₽`
          |
          | в сутки
      .room-card__rating.rating-room-card
        +rating({ checked: rate, name: `room-${numb}` })
        p.rating-room-card__text= `${count}\u00A0`
          span.rating-room-card__text--thin Отзывов
